<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= club.nombre %></title>
</head>
<body>
  <h1>Bienvenido a <%= club.nombre %></h1>
  <img src="<%= club.logo %>" alt="Logo del club" style="max-width:150px;">
  <p>Dirección: <%= club.direccion %></p>
  <p>Contacto: <%= club.contacto_nombre %> - <%= club.contacto_telefono %></p>
</body>
</html>